# Set to false do disable mod
enabled=true

# This mod operates on 4 light types - attached, "torch", "flame" and player lights
# "torch" lights are most things like lamps and torches
# "flame" lights are mostly creatures (lava spiders, etc)
# player lights refers to the light attached to YOUR character (not other players)
# attached lights are other player and misc stuff

# each of those gets 3 settings below
# scale - this acts as a multiplier for the range of the light
# add - this is a simple addition to the range... kinda
# normalize - if set to a positive value will normalize RGB values to that - this affects visible brightness

attachedScale=3
attachedAdd=20
attachedNormalize=0.75

torchScale=3
torchAdd=20
torchNormalize=-1

playerScale=2
playerAdd=10
playerNormalize=0.75

fireScale=3
fireAdd=20
fireNormalize=2
